---
openapi: 3.0.3
info:
  title: onecx-theme export and import v1
  version: 1.0.0
servers:
  - url: "http://onecx-theme-svc:8080"
tags:
  - name: themesExportImport
paths:
  /exim/v1/themes/export:
    post:
      tags:
        - themesExportImport
      description: Export list of themes
      operationId: exportThemes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportThemeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeSnapshot'
        "404":
          description: No themes founds
  /exim/v1/themes/import:
    post:
      tags:
        - themesExportImport
      description: Import themes
      operationId: importThemes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeSnapshot'
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportThemeResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EximProblemDetailResponse'
components:
  schemas:
    ExportThemeRequest:
      type: object
      properties:
        names:
          type: array
          uniqueItems: true
          items:
            type: string
    ThemeSnapshot:
      type: object
      properties:
        id:
          type: string
          minLength: 10
          description: ID of the request
        created:
          $ref: '#/components/schemas/OffsetDateTime'
        themes:
          type: object
          nullable: false
          additionalProperties:
            $ref: '#/components/schemas/EximTheme'
    ImportThemeResponse:
      type: object
      properties:
        id:
          type: string
          minLength: 10
          description: ID of the request
        themes:
          additionalProperties:
            $ref: '#/components/schemas/ImportThemeResponseStatus'
    ImportThemeResponseStatus:
      type: string
      enum:
        - UPDATE
        - CREATED
        - SKIP
    EximTheme:
      type: object
      properties:
        cssFile:
          type: string
        description:
          type: string
        assetsUrl:
          type: string
        logoUrl:
          type: string
        faviconUrl:
          type: string
        logoId:
          $ref: '#/components/schemas/Image'
        faviconId:
          $ref: '#/components/schemas/Image'
        previewImageUrl:
          type: string
        assetsUpdateDate:
          type: string
        properties:
          type: object
    EximProblemDetailResponse:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string
        params:
          type: array
          items:
            $ref: '#/components/schemas/EximProblemDetailParam'
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/EximProblemDetailInvalidParam'
    EximProblemDetailParam:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    EximProblemDetailInvalidParam:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
    OffsetDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50-04:00
    Image:
      type: object
      properties:
        imageData:
          type: object
          properties:
            imageBytes:
              type: string
              format: byte
        mimeType:
          type: string
        width:
          type: string
        height:
          type: string
        url:
          type: string
          example: http://onecx-image-svc/data/afcc5d0d-6509-497a-8125-614f82b106ae
        creationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        creationUser:
          type: string
        modificationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        modificationUser:
          type: string